{% extends 'base.html.twig' %}

{% block scripts %}
    

  
  {% endblock %}
  
{% block body %}

<div id="droppable" class="col-md-8">
  <p>accept: '#dragFighter'</p>
</div>
    
    <div class="container">
{% set fighterLength = 0 %}
        <div class="row">
        <div class="col-md-6">
            {% for ageGroupName, ageGroup in ageGroupFighters %}
                <div class="page-header">
                    <h2>{{ ageGroupName }}</h2>
                    {{ ageGroup.fighters|length }} Kämpfer
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nachname</th>
                      <th>Vorname</th>
                      <th>Gewicht</th>
                      <th>Altersklasse</th>
                      <th>Gruppe</th>
                      <th>Verein</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                      <tbody>
                          {% for fighter in ageGroup.fighters %}
                          <tr id="dragFighter">
                              <td style="display:none" id="fighterId">{{ fighter.id }}</td>
                              <td >{{ loop.index }}</td>
                              <td >{{fighter.lastName}}</td>
                              <td>{{fighter.firstName}}</td>
                              <td>{{fighter.weight}}</td>
                              <td>{{fighter.ageGroup}}</td>
                              <td>{{fighter.groupId}}</td>
                              <td>{{fighter.club}}</td>
                              <td>
                                  <a href="{{ url('editFighter', {'id': fighter.id}) }}" >
                                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                  </a>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                </table>
                {% endfor %}
        </div>
     </div>
    </div>

  

{% endblock %}
