{% extends 'base.html.twig' %}
{# Read the URL, Parameter "print" should add the print class #}

{% block body %}
<!--div id="container" class="visible-print-inline" style="width: 21cm; height: 29.7cm;"-->
    <div class="container" >
    {% for key,competitionGroup in competitionGroups %}
        <div class="col-xs-10">
            <h2>Gruppe {{ key }}</h2>
            <h4>{% trans %}Age group {% endtrans %}: {{ competitionGroup[0].ageGroup }}</h4>
         </div>
        <div class="col-xs-2">
              <a href="{{ path('competition_group_display', { 'id' : key}) }}/pdf">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              </a>
        </div>
	    <div class="row">
            <div class="col-xs-9">

              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans %}Last name{% endtrans %}</th>
                    <th>{% trans %}First name{% endtrans %}</th>
                    <th>{% trans %}Weight {% endtrans %}</th>
                    <th>{% trans %}Gender{% endtrans %}</th>
                    <th>{% trans %}Club {% endtrans %}</th>
                    <th>{% trans %}Wins {% endtrans %}</th>
                  </tr>
                </thead>
                    <tbody>
                        {% for fighter in competitionGroup %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{fighter.lastName}}</td>
                            <td>{{fighter.firstName}}</td>
                            <td>{{fighter.weight}}</td>
                            <td>{{fighter.gender}}</td>
                            <td>{{fighter.club}}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>
            </div>
         </div>
         <div class="row">
             <div class="col-xs-9">
                  <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                            <td>#</td>
                            <td>{% trans %}fighter.weight{% endtrans %}</td>
                            <td>{% trans %}fighter.blue{% endtrans %}</td>
                            <td>{% trans %}result.points{% endtrans %}</td>
                            <td class="col-xs-4">{% trans %}fighter.winner.name{% endtrans %}</td>
                        </tr>
                      </thead>
                      <tbody>

                            {% for key,competitionGroupsFight in competitionGroupsFights %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ competitionGroupsFight.white.lastName }}, {{ competitionGroupsFight.white.firstName }}</td>
                                    <td>{{ competitionGroupsFight.blue.lastName }}, {{ competitionGroupsFight.blue.firstName }}</td>
                                    <td>&nbsp;</td>
                                    <td></td>
                                </tr>
                            {% endfor %}

                  </tbody>
            </table>
         </div>
             <div class="col-xs-9">
                 <table class="table table-bordered table-striped">
                     <thead>
                     <tr>
                         <th class="col-xs-1">Platz</th>
                         <th class="col-xs-3">{% trans %}Last name{% endtrans %}</th>
                         <th class="col-xs-3">{% trans %}First name{% endtrans %}</th>
                         <th class="col-xs-2">{% trans %}Club {% endtrans %}</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for fighter in competitionGroup %}
                         <tr>
                             <td>{{ loop.index }}</td>
                             <td></td>
                             <td></td>
                             <td></td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
     </div>
     <p class="visible-print-block" style="page-break-after:always;">
     </p>
    {% endfor %}

  </div>
{% endblock %}
