{% extends 'base.html.twig' %}

{% block body %}
    
        <div id="container">
	{% for competitionGroup in competitionGroups%}
         <div class="page-header">
             <h2>Gruppe {{ loop.index }}</h2>
         </div>
	 <div class="row">
            <div class="col-md-8">
                
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nachname</th>
                    <th>Vorname</th>
                    <th>Gewicht</th>
                    <th>Verein</th>
                  </tr>
                </thead>
                    <tbody>
                        {% for fighter in competitionGroup %}
                        <tr>	
                            <td>{{ loop.index }}</td>
                            <td>{{fighter.lastName}}</td>
                            <td>{{fighter.firstName}}</td>
                            <td>{{fighter.weight}}</td>
                            <td>{{fighter.club}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>
            </div>
         </div>
         <div class="row">
             <div class="col-md-9">
                  <table class="table table-bordered table-striped">
                      <thead>      
                        <tr>
                            <td>#</td>
                            <td>Kämpfer Weiss</td>
                            <td>Kämpfer Blau</td>
                            <td>Ergebnis</td>
                            <td>Sieger Name</td>
                        </tr>
                      </thead>
                      <tbody>
                {# Prüfe ob Kampf 5 gegen 2 möglich ist #}
                {% if competitionGroup.4.0 is defined and competitionGroup.1.0 is defined %}
                <tr>
                        <td>1</td>
                        <td>{{competitionGroup.4.0.lastName}},{{competitionGroup.4.0.firstName}}</td>
                        <td>{{competitionGroup.1.0.lastName}},{{competitionGroup.1.0.firstName}}</td>
                        <td>&nbsp;</td>
                        <td></td>
                </tr>
                {% endif %}
                {# Prüfe ob Kampf 1 gegen 3 möglich ist #}
                {% if competitionGroup.0.0 is defined  and competitionGroup.2.0 is defined %}
                <tr>
                        <td>2</td>
                        <td>{{competitionGroup.0.0.lastName}},{{competitionGroup.0.0.firstName}}</td>
                        <td>{{competitionGroup.2.0.lastName}},{{competitionGroup.2.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}
                {# Prüfe ob Kampf 2 gegen 4 möglich ist #}
                {% if competitionGroup.1.0 is defined  and competitionGroup.3.0 is defined %}
                <tr>
                        <td>3</td>
                        <td>{{competitionGroup.1.0.lastName}},{{competitionGroup.1.0.firstName}}</td>
                        <td>{{competitionGroup.3.0.lastName}},{{competitionGroup.3.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}                
		{# Prüfe ob Kampf 3 gegen 5 möglich ist #}
                {% if competitionGroup.2.0 is defined  and competitionGroup.4.0 is defined %}
                <tr>
                        <td>4</td>
                        <td>{{competitionGroup.2.0.lastName}},{{competitionGroup.2.0.firstName}}</td>
                        <td>{{competitionGroup.4.0.lastName}},{{competitionGroup.4.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 4 gegen 1 möglich ist #}
                {% if competitionGroup.3.0 is defined  and competitionGroup.0.0 is defined %}
                <tr>
                        <td>5</td>
                        <td>{{competitionGroup.3.0.lastName}},{{competitionGroup.3.0.firstName}}</td>
                        <td>{{competitionGroup.0.0.lastName}},{{competitionGroup.0.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 2 gegen 3 möglich ist #}
                {% if competitionGroup.1.0 is defined  and competitionGroup.2.0 is defined %}
                <tr>
                        <td>6</td>
                        <td>{{competitionGroup.1.0.lastName}},{{competitionGroup.1.0.firstName}}</td>
                        <td>{{competitionGroup.2.0.lastName}},{{competitionGroup.2.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 4 gegen 5 möglich ist #}
                {% if competitionGroup.3.0 is defined  and competitionGroup.4.0 is defined %}
                <tr>
                        <td>7</td>
                        <td>{{competitionGroup.3.0.lastName}},{{competitionGroup.3.0.firstName}}</td>
                        <td>{{competitionGroup.4.0.lastName}},{{competitionGroup.4.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 1 gegen 2 möglich ist #}
                {% if competitionGroup.0.0 is defined  and competitionGroup.1.0 is defined %}
                <tr>
                        <td>8</td>
                        <td>{{competitionGroup.0.0.lastName}},{{competitionGroup.0.0.firstName}}</td>
                        <td>{{competitionGroup.1.0.lastName}},{{competitionGroup.1.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 3 gegen 4 möglich ist #}
                {% if competitionGroup.2.0 is defined  and competitionGroup.3.0 is defined %}
                <tr>
                        <td>9</td>
                        <td>{{competitionGroup.2.0.lastName}},{{competitionGroup.2.0.firstName}}</td>
                        <td>{{competitionGroup.3.0.lastName}},{{competitionGroup.3.0.firstName}}</td>
                        <td></td>
                        <td></td>
                </tr>
                {% endif %}  
                {# Prüfe ob Kampf 5 gegen 1 möglich ist #}
                {% if competitionGroup.4.0 is defined  and competitionGroup.0.0 is defined %}
                <tr>
                    <td>10</td>
                    <td>{{competitionGroup.4.0.lastName}},{{competitionGroup.4.0.firstName}}</td>
                    <td>{{competitionGroup.0.0.lastName}},{{competitionGroup.0.0.firstName}}</td>
                    <td></td>
                    <td></td>
            </tr>
            {% endif %}  
                  </tbody>
            </table>
         </div>
     </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endfor %}

    </div>
  
{% endblock %}
