{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">

    <div class="row">
        <div class="col-md-8">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>{% trans %}group.number{% endtrans %}</th>
                <th>{% trans %}numberFighter{% endtrans %}</th>
                <th>{% trans %}status{% endtrans %}</th>
                <th>{% trans %}fighterMinWeight{% endtrans %}</th>
                <th>{% trans %}fighterMaxWeight{% endtrans %}</th>
                <th>{% trans %}Options{% endtrans %}</th>
              </tr>
            </thead>
                <tbody>
                    {% for key, competitionGroup in competitionGroups %}
                    <tr>
                        <td><a href="{{ path('competition_group_display', { 'id' : key}) }}">Gruppe {{ key }}</a></td>
                        <td>{{ competitionGroup.numberFighters }}</td>
                        <td>{{ competitionGroup.status }}</td>
                        {% set minWeight = 200 %}
                        {% set maxWeight = 0 %}

                        {% for fighter in competitionGroup.fighters %}
                            {% if fighter.weight < minWeight %}
                                {% set minWeight = fighter.weight %}
                            {% endif %}

                            {% if fighter.weight > maxWeight %}
                                {% set maxWeight = fighter.weight %}
                            {% endif %}
                        {% endfor %}

                        {% if minWeight == 200 %}
                            {% set minWeight = 0 %}
                        {% endif %}
                        <td>{{ minWeight }}</td>
                        <td>{{ maxWeight }}</td>
                        <td><a href="{{ path('competition_group_display', { 'id' : key}) }}/pdf">PDF</a></td>
                    </tr>

                    {% endfor %}
                </tbody>
          </table>
        </div>
     </div>
 </div>
{% endblock %}
