{# Highlighting the current menuitem, by its starting url Parameter #}

{# Get URL into a variable #}
{% set currentPath = path(app.request.attributes.get('_route')) %}

{# Define every variable empty #}
{% set active_home = '' %}
{% set active_fighter = '' %}
{% set active_groups = '' %}

{# Set only the selected URL active #}
{% if currentPath == '/' %}
  {% set active_home = 'active' %}
{% elseif currentPath starts with '/fighter' %}
  {% set active_fighter = 'active' %}
{% elseif currentPath starts with '/competition_groups' %}
  {% set active_groups = 'active' %}
{% endif %}

{% block navigation %}
{% trans_default_domain "navigation" %}
<div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% trans from "messages" into "de"%}Judo Competition Manager{% endtrans %}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{{ active_fighter }} dropdown">
                  <a href="/fighter" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %} menu.fighter {% endtrans %} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url('fighterIndex') }}">{% trans %} menu.overview.fighter {% endtrans %}</a></li>
                    {% if is_granted("ROLE_RECEPTION") %}
                        <li><a href="{{ url('createFighter') }}">{% trans from "navigation" %} menu.create.fighter {% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </li>
            <li class="{{ active_groups }} dropdown">
              <a href="{{ url('competition_groups_view') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-group"></span> {% trans %} menu.groups {% endtrans %} &nbsp;<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url('competition_groups_view') }}">{% trans %} menu.overview.groups {% endtrans %}</a></li>
                {% if is_granted("ROLE_MANAGEMENT") %}
                    <li><a href="{{ url('competition_group_create' ) }}">{% trans %} menu.create.groups {% endtrans %}</a></li>
                {% endif %}
              </ul>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li class="{{ active_groups }} dropdown">
                  <a href="{{ url('ageGroupIndex') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-group"></span> {% trans %} menu.administration {% endtrans %} &nbsp;<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url('ageGroupIndex') }}">{% trans %} menu.overview.agegroups {% endtrans %}</a></li>
                    <!--li><a href="{{ url('competition_group_create' ) }}">{% trans %} menu.create.groups {% endtrans %}</a></li-->

                  </ul>
                </li>
            {% endif %}
            <li>
                <a href="/logout">{% trans %} menu.logout {% endtrans %} </a>
            </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

</div>
    {% endblock %}
